<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <appSettings>
    <add key="id" value="0" />
    <add key="interval" value="600000" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfig" transferMode="Buffered" maxReceivedMessageSize="5242880">
          <readerQuotas maxArrayLength="5242880" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8523/CheckService" binding="netTcpBinding"
          bindingConfiguration="netTcpBindingConfig" contract="SMaRT.Master.ServiceAgent.ICheckService"
          name="CheckServiceEndpoint" kind="" endpointConfiguration="" />
    </client>
  </system.serviceModel>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="SMaRTConsoleAppender" />
      <appender-ref ref="SMaRTRollingFileAppender" />
    </root>
    <appender name="SMaRTConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="FATAL" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Cyan" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date %message %stacktrace%newline" />
      </layout>
    </appender>
    <appender name="SMaRTRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="SMaRT_agent.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="9" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date %message %stacktrace%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>